<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Bookers</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="row m-2">
                  <i class="fas fa-home nav-link text-light"></i>
                  <%= link_to "Home", user_path(current_user.id), class: 'text-light' %>
                </li>
                <li class="row m-2">
                  <i class="fas fa-users nav-link text-light"></i>
                  <%= link_to "Users", users_path, class: 'text-light' %>
                </li>
                <li class="row m-2">
                  <i class="fas nav-link fa-book-open text-light"></i>
                  <%= link_to "Books", books_path, class: 'text-light' %>
                </li>
                <li class="row m-2">
                  <i class="fas fa-sign-out-alt nav-link text-light"></i>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-light" %>
                </li>
              <% else %>
                <li class="row m-2">
                  <i class="fas fa-home nav-link text-light"></i>
                  <%= link_to "Home", root_path, class: 'text-light' %>
                </li>
                <li class="row m-2">
                  <i class="fas fa-link nav-link text-light"></i>
                  <%= link_to "About", about_path, class: 'text-light' %>
                </li>
                <li class="row m-2">
                  <i class="fas fa-user-plus nav-link text-light"></i>
                  <%= link_to "Sign up", new_user_registration_path, class: 'text-light' %>
                </li>
                <li class="row m-2">
                  <i class="fas fa-sign-in-alt nav-link text-light"></i>
                  <%= link_to "Log in", new_user_session_path, class: 'text-light' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= render partial: 'layouts/flash' %>
      <%= yield %>
    </main>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
